[mysqld]
skip-host-cache
skip-name-resolve


max_connections = 1000

character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
#log-error  = /var/log/mysql/error.log

# By default we only accept connections from localhost
#bind-address   = 127.0.0.1
# Disabling symbolic-links is recommended to prevent assorted security risks

server-id=3
log-bin=s1-bin.log
sync_binlog=1
